@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root{
    --main-bg-color: #1DBEB4;
    --secondary-bg-color: #383B58;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    color:var(--secondary-bg-color);
    font-weight: 500;
}

.background{
    margin-top:0;
    background-color: rgb(196,196,196,0.1);
    text-align: center;
    padding-top: 4.3vh
}


.container{
    text-align: center;
    margin-left:13.5%;
    margin-right: 13.5%;
    /* margin-top: 4.3vh; */
}


h1{
    font-size: 24px;
    margin-bottom: 15.6vh;
    font-weight: 700;
    color: var(--main-bg-color)
}

form{
    text-align: left;
}

form * {
    width:100%;
    font-size: 12px;
}

input {
    margin-bottom: 1.2vh;
    margin-top: 1.2vh;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

input[type='password']{
    font-size: 24px
}

input[type='submit']{
    margin-bottom:1vh;
    margin-top:5.2vh;
    font-size:16px;
    font-weight: 700;
    color: white;
    background-color: var(--main-bg-color);
}

p{
    margin-top:0;
    font-size: 12px;
}

.errorBox{
    text-align : right;
}

.errorDesc{
    color:#FF0000;
}

.inputError{

    background-color: #FFE1E1;
    border: 1px solid #FF0000;
    
}
.link{
    color:#4285F4;
    text-decoration: none;
}

@media (min-width:768px){

    .background{
        margin-top:0;
        background-color: rgb(196,196,196,0.1);
        text-align: center;
        padding-top: 10vh;
    }

    .container{
        margin-left:27.5%;
        margin-right: 27.5%;
        /* margin-top: 22.2vh; */
    }

    h1{
        margin-bottom: 5.8vh;
    }

    input {
        margin-bottom: 2vh;
    }

    input[type='submit']{

        margin-top:3.3vh;
        margin-bottom:1.5vh;
    }
}


@media (min-width:1366px){

    .background{
        margin-top:0;
        background-color: rgb(196,196,196,0.1);
        text-align: center;
        padding-top: 19.4vh
    }

    .container{
        margin-left:33.6%;
        margin-right: 33.6%;
        /* margin-top: 19.4vh; */
    }

    h1{
        margin-bottom: 5.2vh;
    }

    input {
        margin-bottom: 2.1vh;
    }

    input[type='submit']{
        margin-bottom: 2.4vh;
        margin-top:4.5vh;
        width:54%;
        margin-left:23%;
    }   
}


