
.card {
    border: 1px solid #C4C4C4;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #101010;
    width: 90%;
    height: 491px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.cardsImg{
    width: 100%;
    height: 231px;
    border-radius: 8px;
    position: relative;

}
.cardsImgContainer {
    width: 100%;
    height: 231px;
    position: relative;
}

div .corazon {
    position: absolute;
    
    width: 15px;
    height: 15px;
    color: white;
    
    top: 14px;
    right: 14px;
    
}
.cardsRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    width: 324px;
}

.cardsInfo {
    padding-left: 16px;
    color: #383B58;
    margin-top: 20px
}


.cardsInfoParteDeArriba {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    

}

div .cardsTitleCategoria {
    width: 220px;
}

div.cardsInfo .categoria {
    font-size: 14px;
    font-weight: 700;
    opacity: 50%;
    line-height: 17,5px;
    margin-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
    
}

div.cardsInfo h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;

}

div.cardsInfo p{
    font-weight: 500;
    
    font-size: 14px;
    line-height: 16px;
}


.cardsIcons{
    margin-top: 11px;
    visibility: visible;
    height: 0;  
}

.cardsLocation{
    margin-top: 8px;
    display: flex;
    justify-items: center;
    gap: 5px;
}
.cardsLocation span{
    color: #1DBEB4;
}
.cardsDescription span{
    color: #1DBEB4;
}
.cardsDescription p{
    margin-top: 15px;
}

.cardsDescription {

    height: 64px;
    margin-top: 15px;
    overflow: hidden;
 
}
.cardBtn {
    background-color: #1DBEB4;
    color: white;
    border: none;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    margin-left: 15.5px;
    margin-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardBtn:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px ) {
    
    .card{
        display: flex;
        width: 95%;
        height: 283px;
        box-shadow: 0px 2px 5px #C4C4C4;
    }
    
    
    .cardsImgContainer {
        width: 393px;
        height: 231px;
        position: relative;
    }

    .cardsImg{
        width: 300px;
        height: 283px;
        border-radius: 8px;
        position: relative;
    }
   

    

    div.cardsInfo .categoria {
        height: 25px; ;
    }

    .cardsInfo{
        width: 95%;
    }

    .cardsRight {
        height: 283px;
        width: 80%;
    }

    .cardBtn{
        width: 90%;
        height: 40px;
        margin-bottom: 11px;
        margin-top: 10px;
    }

    .cardsDescription{
        margin-bottom: 0px;
        margin-top: 28px;
    }

}

 /* desktop */
 @media screen and (min-width: 1200px){
    .card{
        display: flex;
        width: 605px;
        flex-wrap: nowrap;
    }    
    div.cardsInfo{
        margin-top: 20px;
    }
    div.cardsInfo p{
        width: 90%;
        
    }
    .cardBtn{
        width: 90%;
        height: 40px;
        margin-bottom: 11px;
        margin-top: 10px;
    }

    .btnContainer{
        width: 285px;
    }

 }
