@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap');
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
:root {
  --main-bg-color: #1dbeb4;
  --secondary-bg-color: #383b58;
}
.header1 {
  display: flex;
  justify-content: space-between;
  height: 95px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.logo-eslogan {
  width: 30%;
  background-color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: 5%;
  margin-top: 5%;
}

.header_logo {
  width: 180%;
  margin-top: 12%;
}

.eslogan {
  visibility: hidden;
}

.container-butons{
  display: none;
}

.components{
  width: 15%;
}

/* tablet */
@media screen and (min-width: 768px) {

  .header1 {
    height: 93px;
  }
  .components{
    display: none;
  }
  .container-butons{
    display:flex;
   justify-content:flex-end;
   align-items: center;
    width: 80%;
    margin-right: 4%;
    gap: 5%;
    margin-top: 3%;
  }

  .logo-eslogan {
    width: 50%;
    margin-left: 2%;
    margin-top: 3%;
    justify-content: space-around;
  }
  .header_logo {
    width: 80%;
    margin-top: 2%;
    margin-left: 2%;
    
  }
  
}

/* desktop */
@media screen and (min-width: 1366px){

  .header1 {
    height: 13vh;
  }
    .eslogan p {
        visibility: visible;
        color: var(--secondary-bg-color);
        padding-bottom: 0;
        align-items: center;
        font-style: italic;
        font-weight: 300; 
      }
      .eslogan {
          display: flex;
          align-items: center;
         
      }
      .link-eslogan{
         text-decoration: none;
      }
      .link-img{
        width: 10%;
      }
      .logo-eslogan {
        width: 40%;
        margin-top: 2%;
       justify-content: left;
       gap: 15%;
      }      

      .header_logo {
        width: 230%;
        text-align: center;
      }

      .container-butons{
        display:flex;
        align-items: center;
        width: 70%;
        margin-right: 2%;
        gap: 1%;
        margin-top: 1%;
      }
      
    
  }