:root{
  --main-bg-color: #1DBEB4;
  --secondary-bg-color: #383B58;
}  
  .titleCont{
    text-align: start;
    color: var(--secondary-bg-color);
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 10px
  }

  .contenedorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-bod {
    margin: 5px;
    justify-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.425);
    overflow: hidden;
    width: 310px;
    height: 246px;
  }

  .card-header img {
    width: 100%;
    height: 175px;
    object-fit: cover;
  }

  .card-text {
    padding-left: 10px;
    text-align: start;

  }
 .card-text p{
   margin-top: 5px;
   padding: 0;
   font-weight: 500;
   color: #383b5879;
   font-size: 14px;
 }

 .card-text h3{
   font-size: 20px;
   margin-top: 5px;
   margin-bottom: 0px;
   color:var(--secondary-bg-color)
 }

 /* tablet */
 @media screen and (min-width: 768px){
    .contenedorCard {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      gap:30px;
      justify-content: center;
    }
  
 }
 @media screen and (min-width: 1040px){
  .contenedorCard {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:10px;
    justify-content: center;
  }

}


  /* desktop */
  @media screen and (min-width: 1200px){
    .contenedorCard {
      width: 100%;
      gap: 5px;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }
 }